.logo {
  position: relative;
}

.search_box {
  display: flex;
  border-radius: 30px;
  height: 32%;
  width: 64%;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  animation: search 0.4s linear;
}

@keyframes search {
  from {
    width: 10%;
  }
  to {
    width: 60%;
  }
}


.user_prof {
  width: "30%";
}

.sm_search_box {
  display: flex;
  border-radius: 30px;
  height: 32%;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  animation: smSearch 0.4s linear;
}

@keyframes smSearch {
  from {
    width: 10%;
  }
  to {
    width: 60%;
  }
}

.roundSearch {
  background-color: #fff;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.search_box img {
  width: 19px;
  height: 18px;
  position: relative;
  left: 10px;
}

.search_box input {
  /* padding-left: 14px; */
  padding-left: 28px;
  width: 58%;
  /* animation: searchInput 5s linear; */
}

.search_box input:focus {
  outline: none;
}

.sm_search_box input {
  padding-left: 28px;
  width: 78%;
}

.sm_search_box input:focus {
  outline: none;
}

.discover,
.creator {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.register {
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* width: 204px; */
  /* height: 44px; */
  border-radius: 50px;
  font-weight: 900;
}

.semiSide {
  left: 0;
  position: absolute;
  animation: sliding 1s;
}

@keyframes sliding {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

.userprice {
  border: 0.3px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
}

.list_1{
  cursor: pointer;
}

.list_1:hover{
  background-color: #000000;
  color: #FFF;
}