.login_form {
  background: #ffffff;
  box-shadow: 2px 3px 6px 6px rgba(0, 0, 0, 0.25);
}

.log_form_left {
  background-color: #fff500;
}

.login_form input {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2%;
}

input:focus {
  outline: none;
}
.google_sign_in {
  border: 1px solid grey;
  border-radius: 5px;
}
.fade-up {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
