.App {
  background: #e5e5e5;
  /* font-family: "Garet", sans-serif; */
  font-family: "Garet", sans-serif;
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

@font-face {
  font-family: "Garet";
  src: url("./garet-cufonfonts-webfont/style.css");
}
